{% extends 'base.html' %}
{% block content %}

<div class="container", id="analysis-container">
    <div class="row-justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div id ="chart-container" class="card-body">
                    <h5 align="center">24 Hour Safety Analysis</h5>
                    <div style="height: 550px;">
                        <svg id="chart" class="img-responsive center-block" width="100%" height="100%"></svg>
                    </div>
                </div>
            </div>
    </div>
</div>

<script type="text/javascript">
var lat = {{ lat }};
var lon = {{ lon }};
var date = new Date();

var dat = null;
var chart = null;

function buildChart() {
    $.ajax({
        type: 'POST',
        url: "{% url 'day_safety_analysis' %}",
        data: {
            latitude: lat,
            longitude: lon,
            timestamp: date.toISOString()
        },
        success: function (data) {
            dat = data;
            chart = SafetyChart(data, parseInt(d3.select("#chart-container").style("width"), 10)-50, parseInt(d3.select("#chart-container").style("height"), 10)-50);
        },
    });
};

function update() {
    d3.selectAll("svg > *").remove();
    chart = SafetyChart(dat, parseInt(d3.select("#chart-container").style("width"), 10)-50, parseInt(d3.select("#chart-container").style("height"), 10)-50);
}

buildChart();
 window.addEventListener("resize", update);

</script>


{% endblock %}
