{% extends 'base.html' %}
{% block content %}

<div class="container" id="analysis-container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div id ="chart-container" class="card-body">
                    <h5 align="center" style="color: #9a9a9a; font-family: Poppins,sans-serif; line-height: 1.5; font-weight: 100; font-size: .875rem;">24 Hour Safety Analysis</h5>
                    <div style="height: 500px;">
                        <svg id="chart" class="img-responsive center-block" width="100%" height="100%"></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card" >
                <iframe align="center" src="https://www.google.com/maps?q={{ lon }},{{ lat }}&hl=es;z%3D14&amp;output=embed" frameborder="0" style="border:0" allowfullscreen width="100%" height="100%"></iframe>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
         <div class="col-md-12">
            <p align="left" style="color: #9a9a9a; font-family: Poppins,sans-serif; font-size: .875rem;">
                Safety Rating: The safety rating measurement is the estimated probability of a crime occuring within .5 miles of a given location within the next hour.
            </p>
             <p align="left" style="color: #9a9a9a; font-family: Poppins,sans-serif; font-size: .875rem;">
                Hour: The hour of the day (in military time).
            </p>
         </div>
    </div>
    <div class="row justify-content-center">
         <div class="col-md-12">
             <div class="card">
                 <div class="card-header">
                    <h4 style="color: #9a9a9a; font-family: Poppins,sans-serif;">Recent Crimes Nearby (7 Days)</h4>
                </div>
                <div id ="chart-container" class="card-body">
                    <div class="table-responsive">
                        <table style="color: #9a9a9a; font-family: Poppins,sans-serif; font-size: 12px;">
                            <thead>
                                <tr>
                                    <th>Crime</th>
                                    <th>Weapon Desc.</th>
                                    <th>Location</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for crime in crimes %}
                                <tr>
                                    <th>{{ crime.crm_cd_desc }}</th>
                                    <th>{{ crime.weapon_desc }}</th>
                                    <th>{{ crime.location }}</th>
                                    <th>{{ crime.date_occ }}</th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>


</div>

<script type="text/javascript">
var lat = {{ lat }};
var lon = {{ lon }};
var date = new Date();

var dat = null;
var chart = null;

function buildChart() {
    $.ajax({
        type: 'POST',
        url: "{% url 'day_safety_analysis' %}",
        data: {
            latitude: lat,
            longitude: lon,
            timestamp: date.toISOString()
        },
        success: function (data) {
            dat = data;
            chart = SafetyChart(data, parseInt(d3.select("#chart-container").style("width"), 10)-50, parseInt(d3.select("#chart-container").style("height"), 10)-50);
        },
    });
};

function update() {
    d3.selectAll("svg > *").remove();
    chart = SafetyChart(dat, parseInt(d3.select("#chart-container").style("width"), 10)-50, parseInt(d3.select("#chart-container").style("height"), 10)-50);
}

buildChart();
window.addEventListener("resize", update);

</script>


{% endblock %}
