{% extends 'base.html' %}
{% block content %}
<main>
    <div class="position-relative">
      <section class="section section-lg section-hero section-shaped bg-gradient-info pb-8 pt-5 pt-md-5">
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <img src="/static/assets/img/brand/Chaperone-white.png" style="width: 200px;" class="img-fluid">
                <p class="lead text-white">Safety Analysis for the City of Los Angeles</p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon style="fill: #F8F9FE;" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
    </div>
        <div class="container-fluid" >
          <div class="row justify-content-center" >
            <div class="col-md-12">
                <!-- Search Bar -->
                 <form class="form home-search md-form mr-auto mb-4">
                  <div class="input-group input-group-rounded border-info home-search">
                    <input type="search" class="form-control form-control-rounded" placeholder="Search by location..." aria-label="Search" style="color: black;">
                    <button class="btn btn-info btn-rounded btn-lg my-0" type="submit">Search</button>

                  </div>
                </form>
                </span>
            </div>
          </div>
        </div>
</main>
{% endblock %}