<div class="card bg-gradient-default shadow">
    <div class="card-header bg-transparent">
      <div class="row align-items-center">
        <div class="col-md-3">
          <h2 class="text-white mb-0">Crime Risk</h2>
            <h6 class="text-uppercase text-light ls-1 mb-1">24 Hours</h6>

        </div>
        <div class="col-md-9">
          <ul class="nav nav-pills justify-content-end">
            {% for model in real_time_risk_ests %}
            {% if forloop.counter ==  1 %}
            <li class="nav-item mr-2 mr-md-0 py-1" id="lead-tab" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":{{ model.24_hr_risk }}}]}}'>
              <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
            {% else %}
            <li class="nav-item py-1" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":{{ model.24_hr_risk }} }]}}'>
             <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
            {% endif %}
               <span class="d-none d-md-block">{{ model.name }}</span>
               <span class="d-md-none">{{ model.name }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body">
      <!-- Chart -->
      <div class="chart">
        <!-- Chart wrapper -->
        <canvas id="chart-sales" class="chart-canvas"></canvas>
      </div>
    </div>
</div>

<script>
  var initData = {{ real_time_risk_ests.0.24_hr_risk }}
  var initMax = {{ y_axis_max }}
</script>