<div class="card card-stats mb-4 mb-xl-0">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          Model: LGBM (Light Gradient Boosted Trees)
        </div>
        <div class="col-md-12">
          N Trees: {{ n_estimators }}
        </div>
        <div class="col-md-12">
          N Leaves: {{ num_leaves }}
        </div>
        <div class="col-md-12">
          N Trees: {{ n_estimators }}
        </div>
        <div class="col-md-12">
          Max Tree Depth: {{ max_depth }}
        </div>
        <div class="col-md-12">
          Learning Rate: {{ learning_rate }}
        </div>
        <div class="col-md-12">
          Lambda (Regularization Paramter): {{ reg_lambda }}
        </div>
    </div>
</div>