<div class="card shadow">
    <div class="card-header bg-transparent">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="text-uppercase text-muted ls-1 mb-1">Map (Surrounding Area)</h4>
        </div>
      </div>
    </div>
    <div class="card-body">
      <!-- Chart -->
      <div class="mini-map" style="margin: auto;">
        <div class="embed-responsive embed-responsive-map embed-responsive-16by9">
          <iframe style="display:block; margin: auto; height: 500px; " frameborder="0" scrolling="no" src="https://www.openstreetmap.org/export/embed.html?bbox={{ view_box.bl_lat }}%2C{{ view_box.bl_lon }}%2C{{ view_box.tr_lat }}%2C{{ view_box.tr_lon }}&amp;layer=mapnik&amp;marker={{ view_box.point_lon }}%2C{{ view_box.point_lat }}" ></iframe>
        </div>
      </div>
    </div>
</div>